<template>
  <v-card>
    <v-toolbar color="primary">
      <v-text class="toolbar">Producto Agregado</v-text>
      <button class="material-icons" @click.prevent="closeModal">
        <v-img
          class="closeModal"
          src="https://www.pngkey.com/png/full/7-70029_transparent-tumblr-grunge-tumblr-tumblr-png-overlays-overlays.png"
        ></v-img>
      </button>
    </v-toolbar>
    <v-card-text>
      <div class="card">
        <v-img class="image" :src="product.photo"></v-img>
        <div class="textCard">
          <div class="textDescription justify">Nombre: {{ product.name }}</div>
          <div class="textDescription justify">Codigo: {{ product.code }}</div>
          <div class="textDescription justify">
            Precio: ${{ product.price }}
          </div>
          <div class="textDescription justify">
            Cantidad: <v-btn color="error" @click="restProduct">-</v-btn>
            <span class="totalProduct">{{ countProduct }}</span>
            <v-btn class="addProduct" @click="addProduct">+</v-btn>
          </div>
          <div class="textDescription justify">
            Sub-total: ${{ product.price * countProduct }}
          </div>
        </div>
      </div>
      <div class="Description">
        <p align="justify">{{ product.description }}</p>
      </div>
      <div class="btns">
        <v-btn @click="closeModal">Seguir Comprando</v-btn>
        <v-btn class="btn-shop" color="success">Agregar al carro</v-btn>
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
import axios from "axios";

export default {
  props: ["id"],

  data: () => ({
    product: null,
    countProduct: 0,
  }),

  async created() {
    const { data } = await axios.get(
      "http://sva.talana.com:8000/api/product/" + this.id + ""
    );
    this.product = data;
  },

  methods: {
    closeModal() {
      this.$emit("closeModal");
      console.log("closeModal");
    },
    addProduct() {
      this.countProduct = this.countProduct + 1;
      this.$emit("addProduct");
    },
    restProduct() {
      if (this.countProduct >= 1) {
        this.$emit("restProduct");
        this.countProduct = this.countProduct - 1;
      }
    },
  },
};
</script>
<style scoped>
.card {
  display: grid;
  grid-template-areas: "image text";
  padding-top: 20px !important;
}
.toolbar {
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-size: 30px;
}
.material-icons {
  justify-content: right;
  width: 80px;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  right: 0px;
}
.image {
  grid-area: "image";
  width: 100%;
  height: 100%;
}
.textCard {
  grid-area: "text";
}
.textDescription {
  color: #000000;
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
}
.Description {
  padding-top: 3%;
  grid-area: "description";
}
.closeModal {
  width: 50%;
  border-radius: 90%;
  padding-bottom: 4%;
}
.btn-shop {
  margin-left: 3%;
}
</style>