<template>
  <div class="container">
    <v-card
      class="product"
      max-width="310px"
      v-for="(product, index) in products"
      :key="index"
    >
      <v-img
        :src="product.photo"
        height="200px"
        @click="showDescriptionModal(product.id)"
      ></v-img>

      <v-card-title class="ellipsis"> {{ product.name }} </v-card-title>

      <v-card-subtitle> Precio: ${{ product.price }}</v-card-subtitle>

      <v-card-actions>
        <v-btn color="error" @click="restProduct">-</v-btn>
        <span class="totalProduct">{{ countProduct }}</span>
        <v-btn class="addProduct" @click="addProduct">+</v-btn>
        <v-btn class="shopProduct" color="success"
          >+<v-icon small> mdi-cart </v-icon></v-btn
        >
      </v-card-actions>
    </v-card>
    <div>
      <v-row justify="center">
        <v-dialog max-width="600" v-model="showModal">
          <DescriptionModal
            v-if="showDescription"
            :id="id"
            @closeModal="closeModal"
            @addProduct="addProduct"
            @restProduct="restProduct"
          />
        </v-dialog>
      </v-row>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DescriptionModal from "./DescriptionModal";

export default {
  name: "Products",

  data: () => ({
    show: false,
    products: {},
    countProduct: 0,
    id: "",
    showDescription: false,
  }),

  components: {
    DescriptionModal,
  },

  computed: {
    showModal() {
      return this.showDescription;
    },
  },

  async created() {
    const { data } = await axios.get("http://sva.talana.com:8000/api/product/");
    this.products = data;
  },

  methods: {
    addProduct() {
      this.countProduct = this.countProduct + 1;
      this.$emit("addProduct");
    },

    restProduct() {
      if (this.countProduct >= 1) {
        this.$emit("restProduct");
        this.countProduct = this.countProduct - 1;
      }
    },
    showDescriptionModal(id) {
      this.id = id;
      this.showDescription = true;
    },
    closeModal() {
      this.showModal = false;
      this.showDescription = false;
    },
  },
};
</script>
<style>
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
}
.product {
  display: inline-block !important;
  margin: 30px;
  width: 310px;
  margin: 2%;
}
.totalProduct {
  padding: 3%;
  align-content: center;
}
.addProduct {
  padding: 3%;
  width: 10px;
}
.shopProduct {
  padding: 3%;
}
</style>