<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div>
        <v-img
          alt="Talana Logo"
          class="talanaLogo"
          src="https://redderrhh.com/wp-content/uploads/2021/02/Talana-1.png"
          transition="scale-transition"
        />
      </div>

      <v-spacer></v-spacer>
      <v-badge :content="messages" :value="messages" color="green" overlap>
        <v-icon large> mdi-cart </v-icon>
      </v-badge>
    </v-app-bar>
    <div class="container">
      <v-main>
        <Products @addProduct="addProduct" @restProduct="restProduct" />
      </v-main>
    </div>
  </v-app>
</template>

<script>
import Products from "./components/Products";

export default {
  name: "App",

  components: {
    Products,
  },

  data: () => ({
    messages: 0,
    show: false,
  }),

  methods: {
    addProduct() {
      this.messages = this.messages + 1;
    },
    restProduct() {
      this.messages = this.messages - 1;
    },
  },
};
</script>
<style scoped>
.talanaLogo {
  width: 12%;
}
.container {
  grid-template-columns: 20% 80%;
  grid-template-areas: "list products";
}
</style>